<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Ecommerce.register.RegisterTest"/>
      <class name="com.Ecommerce.login.LoginTest"/>
      <class name="com.Ecommerce.addToCart.AddToCartTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
